Name: Vishal Patel
Student Id: 301169302

In [1]:
import tensorflow as tf
from tensorflow import keras

tf.__version__
keras.__version__

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df_vishal = pd.read_csv('E:/Centennial/semester-3/Neural Network/Midterm/diabetes_noheaders.csv', header=None)

In [4]:
columns = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age','Class']

In [5]:
df_vishal.columns = columns

In [6]:
df_vishal

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
X, y = df_vishal.values[:, :-1], df_vishal.values[:, -1]

In [8]:
X = X.astype('float32')

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(514, 8) (254, 8) (514,) (254,)

In [10]:
features = X_train.shape[1]
features

8

In [48]:
model = keras.models.Sequential()
# input layer
model.add(keras.layers.Dense(features))
#first hidden layer: 32 neurons: relu  activation function
model.add(keras.layers.Dense(20, activation="relu", kernel_initializer='he_normal'))
#second hidden layer: 16 neurons: relu  activation function
model.add(keras.layers.Dense(16, activation="relu", kernel_initializer='he_normal'))
#output layer: 1 neurons: sigmoid activation function
model.add(keras.layers.Dense(1, activation="sigmoid"))

In [49]:
model

In [50]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [51]:
model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=0)

In [52]:
loss_train, accuracy_train = model.evaluate(X_train, y_train, verbose=0)
print('Training Data Accuracy is: %.4f' % accuracy_train)
print('Training Data Loss is: %.4f' %loss_train)

Training Data Accuracy is: 0.7315
Training Data Loss is: 0.5076

In [54]:
row = [5,135,65,32,88,26.6,0.567,29]
y_hat = model.predict([row])
print('Predicted value is: %s (class is=%d)' % (y_hat.round(2), np.argmax(y_hat)))

Predicted value is: [[0.22]] (class is=0)